In [2]:
import pandas as pd
import tensorflow as tf 
import os

### Read train csv

In [3]:
train_csv = pd.read_csv('train.csv', sep=',')
print(train_csv.columns)
train_csv.head()

Index(['StudyInstanceUID', 'patient_overall', 'C1', 'C2', 'C3', 'C4', 'C5',
       'C6', 'C7'],
      dtype='object')

            StudyInstanceUID  patient_overall  C1  C2  C3  C4  C5  C6  C7
0   1.2.826.0.1.3680043.6200                1   1   1   0   0   0   0   0
1  1.2.826.0.1.3680043.27262                1   0   1   0   0   0   0   0
2  1.2.826.0.1.3680043.21561                1   0   1   0   0   0   0   0
3  1.2.826.0.1.3680043.12351                0   0   0   0   0   0   0   0
4   1.2.826.0.1.3680043.1363                1   0   0   0   0   1   0   0

### Merge with existing folders in _converted_images_ directory

In [5]:
converted_images_dirs = os.listdir('converted_images')
converted_images_df = pd.DataFrame(data = {'StudyInstanceUID':converted_images_dirs})
converted_images_df.head()

SyntaxError: invalid syntax (3210018859.py, line 2)